<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691892064654-nk5d1u2suvqps0a3iaajv3qu5h0jpjjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691892064654-nk5d1u2suvqps0a3iaajv3qu5h0jpjjd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>691892064654-ssftssef07dgpf15581ehoguap5pu9d4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPHMbxth_2Ah-AXal23sXikYuN54HozU0</string>
	<key>GCM_SENDER_ID</key>
	<string>691892064654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GhostZone</string>
	<key>PROJECT_ID</key>
	<string>ghost-zone-73d2c</string>
	<key>STORAGE_BUCKET</key>
	<string>ghost-zone-73d2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691892064654:ios:faaf17b287d5cb0619d4df</string>
</dict>
</plist>